#container { width:980px; margin:0px auto 0px; background:#FFFFFF; padding:10px; font-size:12px; margin-top:0px;
border-top:1px solid #CCC;
border-bottom:1px solid #CCC;
}

a{
	text-transform:none;
	color:#333
}
